$colors:(
    darksBlue: hsl(243, 87%, 12%),
    desatBlue: hsl(238, 22%, 44%),
    brightBlue: hsl(224, 93%, 58%)
);

@function color($color){
    @return map-get($colors,$color)
};

    $raleway: 'Raleway', sans-serif;
    $openSans:'Open Sans', sans-serif;

body{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo toolbar"
        "message1 image1"
        "container container"
        "message3 inputfield"
        "logoboi logoboi"
        "footboi footboi"
        "credit credit";
    margin: 0;
    padding: auto 60px;

    h2{
        font-family: $raleway;
        font-weight: 700;
        color:color(darksBlue)
    }

    p{
        font-family: $openSans;
        font-weight:400;
        color: color(darksBlue)
    }

    input{
        height: 13px;
        padding: 10px 20px 10px 20px;
    }

    button{
        background-color: color(brightBlue);
        padding: 10px 20px 10px 20px;
        border: none;
        box-shadow: 2px 2px 2px #ccc;
        border-radius: 3px;
        color: white;
    }
}

.message{
    grid-area: message1;
    height: 40vh;
    padding: 200px 20px 50px 100px;

    input{
        border-radius: 2px;
        border: 1px solid #ccc;
    }
}

.card{
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px invert(#ccc);
    width: 300px;
    padding: 30px;
    margin: auto auto 10px 10px;
    
    p{
        font-weight: 500;
        
    }

    .name{
        font-weight: bolder;
        font-family: $raleway;
        margin: 0;
        font-size: 12px;
    }

    .chamcha{
        display: inline;
    }
    .title{
        font-size: 10px;
        margin: 3px 0 3px 0;

    }

    #profile{
        display: flex;
        border-radius: 50%;
        zoom: 25%;
        margin:auto 20px auto auto;
    }

    .testimonial{
        display: inline-flex;
    }


}

#img1{
    grid-area: image1;
    height: 382px;
    width: 554px;
    padding:200px auto 50px;
}

.message2{
    grid-area: message2;
    background-color: rgb(249,248,254);
    padding: 100px;
    #seeHow{
        text-decoration: underline solid hsl(170, 45%, 43%);
        color: hsl(170, 45%, 43%);

        &:after{
            content: url("/images/icon-arrow.svg");
            zoom: 130%;
            margin:20px 0 0 0;
        }
    }
}

#img2{
    grid-area: image2;
    background-color: rgb(249,248,254);
    padding: 12% 10%;
}

#image2{
    height: 500px;
    width: 660px;
    padding: auto;
    //filter: brightness(80%);
    box-sizing: border-box;
    //grid-area: image2;


    img{
        width:494;
        height: 385;
    }
}
.toolbar{
    width: auto;
    grid-area: logo;
    padding: 12px;

    img{
        margin: 6px auto 6px auto;
    }
}

.items{
    padding: 5px;
    box-sizing: border-box;
    ul{
        grid-area: toolbar;
        object-fit: cover;
        list-style-type: none;
        display: inline-flex;
        flex-direction: row-reverse;
        margin: 20px 20px auto 40%;

        li{
            margin: auto 20px auto 20px;
            width: max-content;
            font-family: $openSans;
        }
    }
}

.getStarted{
    grid-area:message3;
    background-color: color(desatBlue);
    padding:20px 180px 10px 100px;
    font-size: 14px;

    h2,p{
        color: white;
    }
}

.container{
    grid-area:container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "bg bg" 
        "message2 image2";
}

.bg{
    grid-area: bg;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: fill;
    width: 100%;
    height: 78px;
}
.emailField{
    grid-area: inputfield;
    padding: 30px;
    background-color: color(desatBlue);
    color: white;
    margin: 0;
    padding: 60px;

    input{
        display: block;
        margin:5px;
        width: 70%;
    }

    button{
        margin: 5px;
    }

}

.footer{
    grid-area: footboi;
    background-color: color(darksBlue);
    color: white;
    padding: 0 30px 30px 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
        "fylo about contact";
    
    color: white;


    .column{

        text-align: center;
        padding: 30px;
        width: 70%;
        p{
            color: white;
            width: fit-content;
        }

        .Point{
            display: block;
        }

    }

    #col1{
        grid-area: fylo;
        display: inline-block;

        p{
            display: inline-block;
            padding:  0 6px 6px;
        }
    }

    #col2{
        grid-area: about;
    }

    #col3{
        grid-area: contact;
    }
}

.placeholder{
    width: 100%;
    background-color: color(darksBlue);
    grid-area: logoboi;
    overflow: none;
    padding: 10px 100px 0px;
    box-sizing: border-box;

    img{
        filter: brightness(0%) invert(1);
    }
}

#startedButton{
        background-color: color(brightBlue);
        padding: 10px 20px 10px 20px;
        border: none;
        box-shadow: 2px 2px 2px invert(#ccc);
        border-radius: 3px;
        color: white;
}


.attribution{
  grid-area: credit;
  text-align: center;
  font-size: 11px;

  a{
      color: hsl(228, 45%, 44%);
  }
}