$colors:(
    darksBlue: hsl(243, 87%, 12%),
    desatBlue: hsl(238, 22%, 44%),
    brightBlue: hsl(224, 93%, 58%)
);

@function color($color){
    @return map-get($colors,$color)
};

    $raleway: 'Raleway', sans-serif;
    $openSans:'Open Sans', sans-serif;

body{
    margin: 0 60px 60px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo toolbar"
        "message1 image1"
        "container container"
        "message3 inputfield"
        "footboi footboi"
        "credit credit";

    h2{
        font-family: $raleway;
        font-weight: 700;
        color:color(darksBlue)
    }

    p{
        font-family: $openSans;
        font-weight:300;
        color: color(desatBlue)
    }

    input{
        height: 10px;
        padding: 10px 20px 10px 20px;
    }

    button{
        background-color: color(brightBlue);
        padding: 10px 20px 10px 20px;
        border: none;
        box-shadow: 2px 2px 2px #ccc;
        border-radius: 3px;
        color: white;
    }
}

.message{
    grid-area: message1;
    height: 70vh;
    padding: 20px;
}

#img1{
    grid-area: image1;
    height: 80%;
    width: 100%;
}

.message2{
    grid-area: message2;
    background-color: rgb(249,248,254)
}

#image2{
    height: 100%;
    width: 100%;
    padding: auto;
    //filter: brightness(80%);
    box-sizing: border-box;
    grid-area: image2;
    background-color: rgb(249,248,254);

    img{
        width:494;
        height: 385;
    }
}
.toolbar{
    width: auto;
    grid-area: logo;
    padding: 12px;

    img{
        margin: 6px auto 6px auto;
    }
}

.items{
    padding: 5px;
    box-sizing: border-box;
    ul{
        grid-area: toolbar;
        object-fit: cover;
        list-style-type: none;
        display: inline-flex;
        flex-direction: row-reverse;
        margin: 20px 20px auto 40%;

        li{
            margin: auto 20px auto 20px;
            width: max-content;
            font-family: $openSans;
        }
    }
}

.getStarted{
    grid-area:message3;
    background-color: color(desatBlue);
    padding:30px;

    h2,p{
        color: white;
    }
}

.container{
    grid-area:container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "bg bg" 
        "message2 image2";
}

.bg{
    grid-area: bg;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 78px;
}
.emailField{
    grid-area: inputfield;
    padding: 30px;
    background-color: color(desatBlue);
    color: white;
    margin: 0;
}
#footer{
    grid-area: footboi;
    background-color: color(darksBlue);
    color: white
}

footer{
    grid-area:credit;
}

#startedButton{
        background-color: color(brightBlue);
        padding: 10px 20px 10px 20px;
        border: none;
        box-shadow: 2px 2px 2px invert(#ccc);
        border-radius: 3px;
        color: white;
}