body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "logo toolbar" "message1 image1" "container container" "message3 inputfield" "logoboi logoboi" "footboi footboi" "credit credit";
  margin: 0;
  padding: auto 60px;
}

body h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #070439;
}

body p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #070439;
}

body input {
  height: 13px;
  padding: 10px 20px 10px 20px;
}

body button {
  background-color: #3065f8;
  padding: 10px 20px 10px 20px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px #ccc;
          box-shadow: 2px 2px 2px #ccc;
  border-radius: 3px;
  color: white;
}

.message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: message1;
  height: 40vh;
  padding: 200px 20px 50px 100px;
}

.message input {
  border-radius: 2px;
  border: 1px solid #ccc;
}

.card {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px #333333;
          box-shadow: 2px 2px 2px #333333;
  width: 300px;
  padding: 30px;
  margin: auto auto 10px 10px;
}

.card p {
  font-weight: 500;
}

.card .name {
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 12px;
}

.card .chamcha {
  display: inline;
}

.card .title {
  font-size: 10px;
  margin: 3px 0 3px 0;
}

.card #profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  zoom: 25%;
  margin: auto 20px auto auto;
}

.card .testimonial {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#img1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: image1;
  height: 382px;
  width: 554px;
  padding: 200px auto 50px;
}

.message2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: message2;
  background-color: #f9f8fe;
  padding: 100px;
}

.message2 #seeHow {
  -webkit-text-decoration: underline solid #3c9f8f;
          text-decoration: underline solid #3c9f8f;
  color: #3c9f8f;
}

.message2 #seeHow:after {
  content: url("/images/icon-arrow.svg");
  zoom: 130%;
  margin: 20px 0 0 0;
}

#img2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: image2;
  background-color: #f9f8fe;
  padding: 12% 10%;
}

#image2 {
  height: 500px;
  width: 660px;
  padding: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#image2 img {
  width: 494;
  height: 385;
}

.toolbar {
  width: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  padding: 12px;
}

.toolbar img {
  margin: 6px auto 6px auto;
}

.items {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.items ul {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: toolbar;
  -o-object-fit: cover;
     object-fit: cover;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 20px 20px auto 40%;
}

.items ul li {
  margin: auto 20px auto 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Open Sans", sans-serif;
}

.getStarted {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: message3;
  background-color: #585989;
  padding: 20px 180px 10px 100px;
  font-size: 14px;
}

.getStarted h2, .getStarted p {
  color: white;
}

.container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: container;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "bg bg"  "message2 image2";
}

.bg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bg;
  background-image: url(/images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
  height: 78px;
}

.emailField {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: inputfield;
  padding: 30px;
  background-color: #585989;
  color: white;
  margin: 0;
  padding: 60px;
}

.emailField input {
  display: block;
  margin: 5px;
  width: 70%;
}

.emailField button {
  margin: 5px;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footboi;
  background-color: #070439;
  color: white;
  padding: 0 30px 30px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "fylo about contact";
  color: white;
}

.footer .column {
  text-align: center;
  padding: 30px;
  width: 70%;
}

.footer .column p {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer .column .Point {
  display: block;
}

.footer #col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fylo;
  display: inline-block;
}

.footer #col1 p {
  display: inline-block;
  padding: 0 6px 6px;
}

.footer #col2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about;
}

.footer #col3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contact;
}

.placeholder {
  width: 100%;
  background-color: #070439;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logoboi;
  overflow: none;
  padding: 10px 100px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.placeholder img {
  -webkit-filter: brightness(0%) invert(1);
          filter: brightness(0%) invert(1);
}

#startedButton {
  background-color: #3065f8;
  padding: 10px 20px 10px 20px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px #333333;
          box-shadow: 2px 2px 2px #333333;
  border-radius: 3px;
  color: white;
}

.attribution {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: credit;
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 376px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
        grid-template-areas: "logo toolbar"  "image1 image1" "message1 message1" "container container" "image2 image2" "message2 message2" "message3 message3" "inputfield inputfield" "logoboi logoboi" "footboi footboi" "credit credit";
  }
}
/*# sourceMappingURL=main.css.map */